
#eg-6-1-1{
  width: auto;
  border: 1px solid #ddd;
  .figure{
    max-width: 300px;
    max-width: min-content;
    margin: auto;
    border: 1px solid #ddd;
    padding: 10px;
    .img{
      max-width: inherit;
    }
  }
}

#eg-6-2-1{
  width: auto;
  table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1.5em;
    table-layout: auto;
    &.fixed{
      table-layout: fixed;
    }
    td{
      border: 1px dashed #ccc;
      &.onethousand{
        width: 1000px;
      }
      &.threethousand{
        width: 3000px;
      }
      &.noWrapping{
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 2em;
      }
    }
  }
}

.nItemsFirst(@n,@content){
  &:first-child:nth-last-child(@{n}),
  &:first-child:nth-last-child(@{n}) ~ l& {
    @content();
  }
}

.nItemsAtLeast(@n,@content){
  &:first-child:nth-last-child(n+@{n}),
  &:first-child:nth-last-child(n+@{n}) ~ li {
    @content();
  }
}

.nItemsAtMost(@n,@content){
  &:first-child:nth-last-child(-n+@{n}),
  &:first-child:nth-last-child(-n+@{n}) ~ li {
    @content();
  }
}

.nItemsRange(@start,@end,@content){
  &:first-child:nth-last-child(n+@{start}):nth-last-child(-n+@{end}),
  &:first-child:nth-last-child(n+@{start}):nth-last-child(-n+@{end}) ~ li {
    @content();
  }
}

#c-6-3{
  width: auto;
  .list{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 6px 0;
    li{
      width: 4em;
      height: 4em;
      background: #d2407a;
      color: #fff;
      float: left;
      text-align: center;
      margin-right: 10px;
      border-radius: 15px;
      position: relative;
      overflow: visible;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.first{
     li{
       .nItemsFirst(4,{
         background: yellowgreen;
       });
       .nItemsFirst(6,{
         background: yellowgreen;
         &::after{
           content: '✓';
           color: #fff;
           background: #d2407a;
           border-radius: 50%;
           position: absolute;
           display: block;
           width: 1.5em;
           height: 1.5em;
           right: -.25em;
           top: -.25em;
           font-size: 12px;
         }
       });
     }
    }
    &.second{
      li{
        .nItemsAtLeast(4,{
          background: yellowgreen;
        });
        .nItemsAtMost(4,{
          border: 5px solid #FFEB3B;
        });
        .nItemsRange(2,6,{
          &::after{
            content: '✓';
            color: #fff;
            background: #d2407a;
            border-radius: 50%;
            position: absolute;
            display: block;
            width: 1.5em;
            height: 1.5em;
            right: -.25em;
            top: -.25em;
            font-size: 12px;
          }
        });
      }
    }
  }
}


#eg-6-3-1,#eg-6-3-2{
  width: auto;
}
